{{ define "content" }}
<h1>Zones</h1>
{{ if len . }}
<table>
  <tr>
    <th>Zone</th>
    <th>State</th>
    <th>&nbsp;</th>
  </tr>
  {{ range . }}
  <tr>
    <td>{{ .ID }}</td>
    <td>{{ if .Active }}active{{ else }}inactive{{end}}</td>
    <td>
      {{ if .Active }}
      <form action="/zones/{{ .ID }}/deactivate" method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Deactivate">
      </form>
      {{ else }}
      <form action="/zones/{{ .ID }}/activate" method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="submit" value="Activate">
      </form>
      {{end}}</td>
  </tr>
  {{ end }}
</table>
{{ else }}
<p>No zones</p>
{{ end }}
{{ end }}
