{{ define "content" }}
<h1>{{ .ID }} schedule</h1>

<p><a href="/">back</a></p>

<table>
  <tr>
    <th>Events</th>
    <th>&nbsp;</th>
  </tr>
  {{ range .ReadEvents }}
  <tr>
    <td>{{ .String }}</td>
    <td>
      <a href="/zones/{{ $.ID }}/schedule/{{ .Time }}">edit</a>
      <form action="/zones/{{ $.ID }}/schedule/{{ .Time }}" method="post" style="display: inline">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  {{ end }}
  <tr>
    <td></td>
    <td>
      <a href="/zones/{{ .ID }}/schedule/new">add event</a>
    </td>
  </tr>
</table>

{{ end }}
