{{ define "content" }}
<h1>{{ .ID }} schedule</h1>

<p><a href="/">back</a></p>

<table>
  <tr>
    <th>Events</th>
    <th>&nbsp;</th>
  </tr>
  {{ range .Scheduler.ReadEvents }}
  <tr>
    <td>{{ .String }}</td>
    <td>
      <form action="/zones/{{ $.ID }}/schedule/{{ .Hour }}-{{ .Min }}" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Event">
      </form>
    </td>
  </tr>
  {{ end }}
  <tr>
    <td colspan="2">
      <form action="/zones/{{ .ID }}/schedule" method="post">
        <input type="text" name="hour" maxlength="2" size="2" placeholder="hh">:<input type="text" name="min" maxlength="2" size="2" placeholder="mm">
        <select name="action">
          <option value="on">On</option>
          <option value="off">Off</option>
        </select>
        <input type="submit" value="Add Event">
      </form>
    </td>
  </tr>
</table>

{{ end }}
