{{ define "content" }}
<h1>{{ .ID }} schedule</h1>

<p><a href="/">back</a></p>

<table>
  <tr>
    <th>Events</th>
    <th>&nbsp;</th>
  </tr>
  {{ range .ReadEvents }}
  <tr>
    <td>{{ .String }}</td>
    <td>
      <a href="/zones/{{ $.ID }}/schedule/{{ .Time }}">edit</a>
      <form action="/zones/{{ $.ID }}/schedule/{{ .Time }}" method="post" style="display: inline">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  {{ end }}
  <tr>
    <td colspan="2">
      <form action="/zones/{{ .ID }}/schedule" method="post">
        <input type="number" name="hour" min="0" max="23" placeholder="hh">:<input type="number" name="min" min="0" max="59" placeholder="mm">
        <select name="action">
          <option value="On">On</option>
          <option value="Off">Off</option>
        </select>
        {{ if .Thermostat }}
        <select name="therm_action">
          <option value="">No Change</option>
          <option value="SetTarget">Set Target</option>
          <option value="IncreaseTarget">Increase Target</option>
          <option value="DecreaseTarget">Decrease Target</option>
        </select>
        <input type="number" name="therm_param" placeholder="temp" step="0.5" style="width: 4em">
        {{ end }}
        <input type="submit" value="Add Event">
      </form>
    </td>
  </tr>
</table>

{{ end }}
